@import "~antd/dist/antd.css";

.logo {
  float: left;
  height: 31px;
  margin: 16px 24px 16px -24px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 80vh;
  background: #f0f2f5;
}
.ant-form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  width: fit-content;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
}

#submit-button {
  margin-left: 20px;
}

.ant-select-arrow {
  top: 50%;
}

.ant-form-item-label {
  overflow: "" !important;
}
